.sidebar-root {
  background: var(--app-theme-background-hard);

  display: flex;

  align-items: center;
  justify-content: center;
}

.sidebar-small-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-active {
  background: var(--background);
  border-radius: 5px;
  box-shadow: var(--elevate-2);
  font-weight: bold;
}

.item-active * {
  color: white !important;
}

.sidebar-small-box i,
small {
  color: #ebd5d8;
  /* font-weight: bold; */
}

.sidebar-small-box small {
  color: #cec3d0;
  text-transform: uppercase;
  margin-top: 5px;
}

/*  PC EXCLUSIVE */
@media only screen and (min-width: 768px) {
  .sidebar-root {
    width: 100px;
    height: 100vh;
    flex-direction: column;
  }
  .sidebar-small-box small {
    font-size: 12px;
  }
  .sidebar-small-box i {
    font-size: 32px;
  }
  .sidebar-small-box {
    padding: 15px;
    margin: 5px;
  }
}

/*  MOBILE MODE */
@media only screen and (max-width: 767px) {
  .sidebar-root {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
  }
  .sidebar-small-box {
    padding: 10px;
    margin: 5px;
  }
  .sidebar-small-box small {
    font-size: 9px;
    font-weight: bold;
  }
}
