@media only screen and (max-width: 767px) {
  .phone-vanish {
    display: none;
  }
  .api-logos {
    height: 110px;
    width: 100px;
  }
  .ol {
    align-items: start;
    justify-content: start;
  }
  .li img {
    height: 80px;
    width: 80px;
  }

  .li a {
    font-size: 13px;
  }
  .box p {
    font-size: 15px;
  }
  .page-content {
    padding: 10px;
    font-size: x-large;
  }
  .graph-area {
    padding: 10px;
  }
  .motor-guys {
    width: 250px;
  }
  .try-cool-feature {
    padding: 12px 19px;
    font-size: 13px;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
  }
  .page-title {
    font-size: 25px;
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .content-wrapper {
    padding: 10px;
  }
  .app-link {
    font-size: 16px;
  }
  .page-subtitle {
    padding: 8px 0px;
    font-size: 20px;
  }
  .graph-area {
    box-shadow: 0 0 0;
    background: transparent;
  }

  .authors-wrapper {
    flex-direction: column;
  }
  .author-item {
    margin-bottom: 10px;
  }
  .app-content {
    width: 100vw;
    max-width: 100vw;
    height: 36%;
  }
  .box {
    height: 60%;
    width: 32%;
  }
  .box p {
    font-size: 13px;
  }
}
