@media only screen and (min-width: 768px) {
  .box p {
    font-size: 19px;
  }
.api-logos { 
  height:200px; 
  width:200px;
}
  .ol {
    align-items: center;
    justify-content: center;
  }
  .li {
    align-items: center;
  }
  .li img {
    height: 120px;
    width: 120px;
  }
  .app-content {
    width: 45vw;
    height: 35vw;
    max-width: 45vw;
    max-height: 35vw;
  }
  .page-content {
    padding: 30px 60px;
    font-size: 28px;
  }
  .authors-wrapper {
    flex-direction: row;
  }
  .graph-area {
    padding: 25px;
    box-shadow: var(--elevate-2);
    background: var(--app-theme-background-hard);
  }
  .motor-guys {
    width: 440px;
  }
  .try-cool-feature {
    padding: 20px 35px;
    font-size: medium;
  }
  .text {
    font-size: 25px;
    line-height: 1.7;
  }
  .page-title {
    margin-bottom: 20px;
  }
  .content-wrapper {
    padding: 20px;
  }
  .app-link {
    font-size: 21px;
  }
  .page-subtitle {
    padding: 15px 0px;
  }
}
