@import url(shared/css/elevations.css);
@import url(shared/css/mobile-only.css);
@import url(shared/css/pc-only.css);
@import url(shared/css/universal.css);

:root {
  --app-sidebar-background: #361e2d;
  --app-theme-background: #402234;
  --app-theme-light: #846881;
  --app-theme-orange: #f79b5e;
  --app-theme-cyan: #26cbd6;
  --app-theme-pink: #f678a8;
  --app-theme-orange-light: #fcc7a5;
  --app-theme-background-hard: #2f1a27;
}

.api-logos {
  object-fit: contain;
}
.li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6px;
  margin-bottom: 13px;
  flex-basis: 20%;
}
.li img {
  object-fit: contain;
  background: white;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
}
.ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
}
.try-cool-feature {
  position: fixed;
  right: 0px;
  top: 30px;
  opacity: 0.5;
  font-weight: bold;
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  background-color: var(--app-theme-cyan);
  box-shadow: var(--elevate-2);
  z-index: 20;
  cursor: pointer;
  border-width: 0px;
  color: white;

  text-transform: uppercase;
}
.try-cool-feature:hover {
  opacity: 1;
  transition: 0.2s ease-out;
}
.app-root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-styles {
  background: var(--app-theme-background);
  height: 100vh;
  width: 100%;
}
.app-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 2;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  height: 40%;
  margin: 6px;
  background: var(--back-color);
  cursor: pointer;
}
.box:hover {
  transform: scale(0.98);
  transition: 0.2s ease-out;
}
.box p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.touchable-opacity:hover {
  opacity: 0.7;
  transition: 0.2s ease-out;
}

.app-ul {
}
.code-extract {
  background: var(--app-theme-background-hard);
  color: var(--app-theme-orange);
  font-weight: bold;

  width: 100%;
}
.page-wrapper-container {
  display: flex;
  flex-direction: row;
}

.page-wrapper-container .sidebar-root {
  flex-basis: 100px;
}

.page-content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 200px;
}

.page-title {
  color: var(--color);

  text-transform: capitalize;
}
.authors-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.app-link {
  color: var(--app-theme-orange);
}
.graph-area {
  border-radius: 5px;
  margin-bottom: 15px;
}

.text {
  color: #ede1e1;

  text-align: justify;
}

.page-subtitle {
  color: #cec3d0;
}

.author-item {
  padding: 25px 30px;
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 41vw;
  text-align: center;
  cursor: pointer;
  min-height: 40vh;
}
.author-item img {
  border-radius: 100%;
  border: solid 5px var(--app-theme-pink);
  object-fit: cover;
  height: 75px;
  width: 75px;
}

.author-item:hover {
  transform: scale(0.98);
  transition: 0.8s ease-out;
}
.author-item:active {
  transform: scale(1.2);
  transition: 0.3s ease-out;
}

.author-item h6 {
  color: white;

  margin: 6px;
}
.author-item p {
  color: white;
 
  line-height: 1.5;
}
